body {
    margin-left: 0px;
    margin-right: 0px;
}

.nav a:hover {
  color: #475053;
  padding: 14px 16px;
  background-color: #f0fbff;
  border-radius: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-brand a:hover{
  color: #ffffff;
  background-color: #262626;
}

.nav-ul {
    list-style-type:  none;
    margin: 0;
    padding: 0;
    background-color:  #262626;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-ul div {
  display: inline-block;
}

.nav-ul div  li {
  display: inline-block;
  text-align: center;
}

.nav-brand {
  margin-right: 50px;
}

.nav-ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Segoe UI;
  font-size: 17px;

}

.h3-h {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 300;
}

.h3-h-welcome {
  text-transform: capitalize;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-weight: 300;
}

.header {
    text-align: center;
    color: #fff;
    background-image: url("img1.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.vision {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url("img3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mission {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url("img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 10px;}

.header-text {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: serif;
    font-size: 80px;
}

.vision-text {
    margin-bottom: 0px;
    text-transform: capitalize;
    font-family: cursive;
    font-size: 25px;
    /*font-weight: 50;
    line-height: 20px;*/
}

.mission-text {
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family: cursive;
    font-size: 25px;
    font-weight: 100;
    line-height: 25px;
}

.teamlist-all {
  background-image:url("img7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  text-align: center;
}

.teamlist-all h3 {
  font-size: 30px;
  text-align: center;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.teamlist li {
  list-style-type: none;
  display: inline-block;
  font-size: 25px;
  margin-left: 1.5%;
}

.team-1 li a{
  color: #ffffff;
  text-decoration: none;
  font-family: Century Gothic;
  font-size: 30px;
  padding: 7px;
}

.team-2 {
  margin-top: 15px;
}

.team-2 li a{
  color: #ffffff;
  text-decoration: none;
  font-family: Century Gothic;
  font-size: 30px;
  padding: 7px;

}

.teamlist li a:hover {
  border: 1px;
  border-radius: 25px;
  background-color: #f2910a;
  color: #000;
  padding: 7px;
}

.footer {
    background-color: #222831;
    color: #f2910a;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 17px;
    text-align: center;
}

.footer a {
    color: #f2910a;
    text-decoration: none;
}

.footer div {
  display: block;
}

.social-media a {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.address {
  margin-right: 20px;
}